* {
  font-family: "微软雅黑" !important;
}
body {
  background-color: #fff;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
body::-webkit-scrollbar {
  width: 0;
}
.index-wrapper {
  height: 100vh;
  background-size: 100% 100%;
  padding: 10% 15%;
}
.index-wrapper #contentBox {
  height: 100%;
  background-color: pink;
}
.index-wrapper #contentBox .partItem {
  overflow: hidden;
  position: relative;
  background-color: transparent;
}
.index-wrapper #contentBox .partItem:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  transform-origin: top;
}
